

.App{
  min-height: 100vh;
}

.items {
  display: flex;
  flex-wrap: wrap;
 
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71,71,71);
  margin: 20px;
  flex-direction: column;
  text-align: center;

}